<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basic">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.serge.listeners.CustomListeners" />
	</listeners>

	<test thread-count="5" name="loginAsManager">
		<classes>
			<class name="com.serge.testCases.LoginTest" />

		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="addCustomer">
		<classes>
			<class name="com.serge.testCases.AddCustomer" />

		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="openAccount">
		<classes>
			<class name="com.serge.testCases.OpenAccount" />

		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
